body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.background {
    background: url('pombo.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(129, 119, 119, 0.8);
    box-shadow: 0 0 20px rgba(5, 5, 5, 0.2);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label {
    margin-top: 10px;
    color: #333;
}

input {
    padding: 5px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

a.forgot-password {
    text-align: right;
    text-decoration: none;
    color: #3498db;
    font-size: 14px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #5a2cc7;
}